<section class="text-gray-600 dark:text-gray-300 body-font">
      <div class="container px-5 py-24 mx-auto">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 dark:text-gray-100 mb-20">
                  Raw Denim Heirloom
                  Man
                  <br class="hidden sm:block">Selfies Wayfarers
            </h1>
            <ul>
                  <div class="grow md:mx-12 mt-5">
                        <% data.forEach(post=> { %>
                              <a href="/post/<%= post._id%>">
                                    <li class="flex justify-between mb-5">
                                          <h2>
                                                <%= post.title %>
                                          </h2>
                                          <div class="time">
                                                <%= post.createdAt.toDateString() %>
                                          </div>
                                    </li>
                              </a>
                              <% }); %>
                  </div>
            </ul>
            <div class="flex justify-between">
                  <div>
                        <% if (current> 1) { %>
                              <a href="/?page=<%- current - 1 %>" class="pagination">&larr; view previous posts</a>

                              <% } %>
                  </div>
                  <div>
                        <% if (nextPage !==null) { %>
                              <a href="/?page=<%- nextPage %>" class="pagination">view new posts &rarr;</a>

                              <% } %>
                  </div>

            </div>
      </div>
</section>